<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
	</head>
	<body ng-app="app" ng-controller="cro">
		<!--导航-->
		<div class="navs">
			<span class="name"><b>KITCHEN</b></span>
			<span><a class="history" href="history">历史订单</a></span>
		</div>
		<div class="main">
			<div class="main-left col-md-2">
				<nav class="nav nav-tabs">				
					<ul class="nav nav-stacked" style="clear: both;">						
						<li ng-click="xuanZe($event)"><a href="#a1" data-toggle="tab">01</a></li>					
						<li ng-click="xuanZe($event)"><a href="#a2" data-toggle="tab">02</a></a></li>					
						<li ng-click="xuanZe($event)"><a href="#a3" data-toggle="tab">03</a></li>					
						<li ng-click="xuanZe($event)"><a href="#a4" data-toggle="tab">04</a></li>					
						<li ng-click="xuanZe($event)"><a href="#a5" data-toggle="tab">05</a></li>
						<li ng-click="xuanZe($event)"><a href="#a6" data-toggle="tab">06</a></li>
						<li ng-click="xuanZe($event)"><a href="#a7" data-toggle="tab">07</a></li>
					</ul>				
				</nav>				
			</div>
			<div class="main-right">
				<div class="tab-content">
					<div class="tab-pane fade in active tabs" id="a1">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PICTURE</td>
								<td>STATE</td>
							</tr>
							<tr ng-repeat="x in list" id="{{x.seat_id}}">
								<td>{{x.menu_name}}</td>
								<td><img ng-src="{{x.img}}"/></td>
								<td><input type="button" class="btn btn-default btns" ng-click="deleteTr()" value="完成"></td>
							</tr>							
						</table>
					</div>
					<div class="tab-pane" id="a1">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PICTURE</td>
								<td>STATE</td>
							</tr>
							<tr ng-repeat="x in list" id="{{x.seat_id}}">
								<td>{{x.menu_name}}</td>
								<td><img ng-src="{{x.img}}"/></td>
								<td><input type="button" class="btn btn-default btns" ng-click="deleteTr()" value="完成"></td>
							</tr>							
						</table>
					</div>
					<div class="tab-pane" id="a1">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PICTURE</td>
								<td>STATE</td>
							</tr>
							<tr ng-repeat="x in list" id="{{x.seat_id}}">
								<td>{{x.menu_name}}</td>
								<td><img ng-src="{{x.img}}"/></td>
								<td><input type="button" class="btn btn-default btns" ng-click="deleteTr()" value="完成"></td>
							</tr>							
						</table>
					</div>
					<div class="tab-pane" id="a1">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PICTURE</td>
								<td>STATE</td>
							</tr>
							<tr ng-repeat="x in list" id="{{x.seat_id}}">
								<td>{{x.menu_name}}</td>
								<td><img ng-src="{{x.img}}"/></td>
								<td><input type="button" class="btn btn-default btns" ng-click="deleteTr()" value="完成"></td>
							</tr>							
						</table>
					</div>
					<div class="tab-pane" id="a1">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PICTURE</td>
								<td>STATE</td>
							</tr>
							<tr ng-repeat="x in list" id="{{x.seat_id}}">
								<td>{{x.menu_name}}</td>
								<td><img ng-src="{{x.img}}"/></td>
								<td><input type="button" class="btn btn-default btns" ng-click="deleteTr()" value="完成"></td>
							</tr>							
						</table>
					</div>	
					<div class="tab-pane" id="a1">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PICTURE</td>
								<td>STATE</td>
							</tr>
							<tr ng-repeat="x in list" id="{{x.seat_id}}">
								<td>{{x.menu_name}}</td>
								<td><img ng-src="{{x.img}}"/></td>
								<td><input type="button" class="btn btn-default btns" ng-click="deleteTr()" value="完成"></td>
							</tr>							
						</table>
					</div>	
					<div class="tab-pane" id="a1">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PICTURE</td>
								<td>STATE</td>
							</tr>
							<tr ng-repeat="x in list" id="{{x.seat_id}}">
								<td>{{x.menu_name}}</td>
								<td><img ng-src="{{x.img}}"/></td>
								<td><input type="button" class="btn btn-default btns" ng-click="deleteTr()" value="完成"></td>
							</tr>							
						</table>
					</div>	
				</div>			
			</div>
		</div>
		<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>		
	</body>
	<script type="text/javascript">
		var app = angular.module('app',[]);
		app.controller('cro',['$scope','$http',function($scope,$http){
			$scope.xuanZe=function($event){
				var seatId = $($($event.currentTarget).children())[0].innerText;
				$('.tab-content').css('display','block');
				var url = '/kitchen/selectList';
				var data = {seatId:seatId};
				$http.post(url,data).then(function(result){
					$scope.list=result.data.list;
				})
			}
			$scope.deleteTr=function(){
				var index = $(this)[0].$index;
				console.log(index);
				console.log($('.btns')[index]);
				if($($('.btns')[index]).val()=='完成'){					
					$($('.btns')[index]).parent().parent().css('background-color','gray');
					$($('.btns')[index]).val("已完成");
				}else{
					$($('.btns')[index]).parent().parent().css('background-color','');
					$($('.btns')[index]).val("完成");
				}
			}

		}])
	</script>
</html>
