<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body ng-app="app" ng-controller="con"> 
		<div class="navs">
			<span class="bar"><b>MENU</b></span>
		</div>
		<div class="main">
			<div class="main-left">
				<ul id="myTab" class="nav nav-pills nav-justified" role="tablist">
					<li class="active"><a data-ng-click="xuanze($event)" href="#zhuCai" role="tab" data-toggle="tab">主菜</a></li>
					<li><a data-ng-click="xuanze($event)" href="#zhuShi" role="tab" data-toggle="tab">主食</a></li>
					<li><a data-ng-click="xuanze($event)" href="#niuPa" role="tab" data-toggle="tab">牛扒</a></li>
					<li><a data-ng-click="xuanze($event)" href="#nongTang" role="tab" data-toggle="tab">浓汤</a></li>
					<li><a data-ng-click="xuanze($event)" href="#tianPin" role="tab" data-toggle="tab">甜品</a></li>
					<li><a data-ng-click="xuanze($event)" href="#shaLa" role="tab" data-toggle="tab">沙拉</a></li>
					<li><a data-ng-click="xuanze($event)" href="#xiaoShi" role="tab" data-toggle="tab">小食</a></li>
					<li><a data-ng-click="xuanze($event)" href="#yinPin" role="tab" data-toggle="tab">饮品</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">				
					<div class="tab-pane active" id="zhuCai" >
						<div class="banner">
							<span class="logo">
								<!--<img src="/img/logo.jpg" alt="" />-->
							</span>
							<span class="welcome">W</span>
							<span class="welcome">e</span>
							<span class="welcome">l</span>
							<span class="welcome">c</span>
							<span class="welcome">o</span>
							<span class="welcome">m</span>
							<span class="welcome">e</span>&nbsp;&nbsp;&nbsp;
							<span class="welcome">T</span>
							<span class="welcome">o</span>&nbsp;&nbsp;&nbsp;
							<span class="welcome">N*</span>
							<span class="welcome">N*</span>
							<span class="welcome">N*</span>
						</div>
						<div ng-repeat="x in list">
							<div>
								<p class="tu">
									<img ng-src="{{x.img}}" alt="" />
									<span ng-click="add($event)"><img style="width:24px;height:24px;" src="/img/加号.png"/></span>
								</p>
								<p>{{x.menu_name}}</p>
								<p class="price">价格:${{x.price}}</p>
								<input class="hidden" value="{{x.menu_id}}" />
							</div>
						</div>
					</div>
					<div class="tab-pane" id="zhuShi">
						<div ng-repeat="x in list">
							<div>
								<p class="tu"> 
									<img ng-src="{{x.img}}" alt="" />
									<span ng-click="add($event)"><img style="width:24px;height:24px;" src="/img/加号.png"/></span>
								</p>
								<p>{{x.menu_name}}</p>
								<p class="price">价格:${{x.price}}</p>
								<input class="hidden" value="{{x.menu_id}}" />
							</div>
						</div>
					</div>
					<div class="tab-pane" id="niuPa">
						<div ng-repeat="x in list">
							<div>
								<p class="tu">
									<img ng-src="{{x.img}}" alt="" />
									<span ng-click="add($event)"><img style="width:24px;height:24px;" src="/img/加号.png"/></span>
								</p>
								<p>{{x.menu_name}}</p>
								<p class="price">价格:${{x.price}}</p>
								<input class="hidden" value="{{x.menu_id}}" />
							</div>
						</div>
					</div>
					<div class="tab-pane" id="nongTang">
						<div ng-repeat="x in list" >
							<div>
								<p class="tu">
									<img ng-src="{{x.img}}" alt="" />
									<span ng-click="add($event)"><img style="width:24px;height:24px;" src="/img/加号.png"/></span>
								</p>
								<p>{{x.menu_name}}</p>
								<p class="price">价格:${{x.price}}</p>
								<input class="hidden" value="{{x.menu_id}}" />
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tianPin">
						<div ng-repeat="x in list">
							<div>
								<p class="tu">
									<img ng-src="{{x.img}}" alt="" />
									<span ng-click="add($event)"><img style="width:24px;height:24px;" src="/img/加号.png"/></span>
								</p>
								<p>{{x.menu_name}}</p>
								<p class="price">价格:${{x.price}}</p>
								<input class="hidden" value="{{x.menu_id}}" />
							</div>
						</div>
					</div>
					<div class="tab-pane" id="shaLa">
						<div ng-repeat="x in list">
							<div>
								<p class="tu">
									<img ng-src="{{x.img}}" alt="" />
									<span ng-click="add($event)"><img style="width:24px;height:24px;" src="/img/加号.png"/></span>
								</p>
								<p>{{x.menu_name}}</p>
								<p class="price">价格:${{x.price}}</p>
								<input class="hidden" value="{{x.menu_id}}" />
							</div>
						</div>
					</div>
					<div class="tab-pane" id="xiaoShi">
						<div ng-repeat="x in list">
							<div>
								<p class="tu">
									<img ng-src="{{x.img}}" alt="" />
									<span ng-click="add($event)"><img style="width:24px;height:24px;" src="/img/加号.png"/></span>
								</p>
								<p>{{x.menu_name}}</p>
								<p class="price">价格:${{x.price}}</p>
								<input class="hidden" value="{{x.menu_id}}" />
							</div>
						</div>
					</div>
					<div class="tab-pane" id="yinPin">
							<div ng-repeat="x in list">
								<div>
									<p class="tu">
										<img ng-src="{{x.img}}" alt="" />
										<span  ng-click="add($event)"><img style="width:24px;height:24px;" src="/img/加号.png"/></span>
									</p>
									<p>{{x.menu_name}}</p>
									<p class="price">价格:${{x.price}}</p>
									<input class="hidden" value="{{x.menu_id}}" />
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="tab-content main-right" id="already">
				<div class="tab-pane fade in active">
					<table class="table table-hover table-condensed">
						<tr class="title">
							<td>ORDER</td>
							<td>NAME</td>
							<td>PRICE</td>
						</tr>
					</table>
					<span>
						<select class="seat">
							<option value="01">01号桌</option>
							<option value="02">02号桌</option>
							<option value="03">03号桌</option>
							<option value="04">04号桌</option>
							<option value="05">05号桌</option>
							<option value="06">06号桌</option>
							<option value="07">07号桌</option>
							<option value="08">08号桌</option>
							<option value="09">09号桌</option>
							<option value="10">10号桌</option>
						</select>
					</span>
					<span class="total">
						总价:${{total}}.00
						<button data-ng-click="send($event)" class="btn btn-info">提交订单</button>
					</span>
				</div>
			</div>
		</div>
		<span><a class="toBar" href="bar">吧台专用链接GO!</a></span>
		<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
	</body>
	<script type="text/javascript">
		var app = angular.module('app',[]);
		app.controller('con',['$scope','$http',function($scope,$http){
		    $scope.xuanze=function($event){
		    	$(".banner").css('display','none');
		    	var url = '/menu/selectCaiBySort';
				var sortName = '';
		        sortName = $event.currentTarget.text;
		        data = {sortName:sortName};
			    $http.post(url,data).then(function(result){
					$scope.list=result.data.list;
				})
	        }
		    var indexs = [];
		    $scope.names= [];
		    $scope.prices = [];
		    $scope.menuIds = [];
		    $scope.add=function($event){
		    	$('.total').css('display','block');
		    	nameStr= $($($event.currentTarget).parent()).next();
		    	$scope.name = nameStr[0].innerHTML;
		    	var next  = nameStr.next();
		    	var priceStr = next[0].innerHTML;  	
		    	var priceArr = priceStr.split('$');
		    	$scope.price = priceArr[1];
		    	var next2 = next.next();
		    	$scope.menuId = $(next2[0]).val();
		    	($scope.names).push($scope.name);
		    	($scope.prices).push($scope.price);
		    	($scope.menuIds).push($scope.menuId);
		    	$($($('.title')).siblings()).remove();
		    	$scope.total = 0;
		    	for(var i=0; i<$($scope.names).length;i++){
		    		var pricesStr = $($scope.prices)[i];
		    		var price = parseInt(pricesStr);
		    		$scope.total = price + $scope.total;
		    		$($($('.title')).parent()).append(
			    		'<tr>'+
			    			'<td>'+(i+1)+'</td>'+
			    			'<td>'+$($scope.names)[i]+'</td>'+
			    			'<td>'+'$'+$($scope.prices)[i]+'</td>'+
			    		'</tr>'
			    	);
		    	}
		    }
		    $scope.send = function($event){
		    	var seatStr = $('.seat option:selected').text();
				var seatArr = seatStr.split("号",1);
				var seatId = seatArr[0];
		    	var url = '/menu/addOrder';
				var date = new Date();
				var year = date.getFullYear(); 
				var mon = date.getMonth()+1; 
				var day = date.getDate();
				var hour = date.getHours();
				var min = date.getMinutes(); 
				var sec = date.getSeconds(); 
				var date=year+"-"+mon+"-"+day+" "+hour+":"+min+":"+sec;
				var data = {seatId:seatId,total:$scope.total,pay:0,date:date,menuIds:$scope.menuIds};
			    $http.post(url,data).then(function(result){
					$scope.list=result.data.list;
				})
			    location.reload();
		    }
		}])
	</script>
</html>
