<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link href="http://localhost:3000/css/bar.css" rel="stylesheet"></head>
	<body ng-app="app" ng-controller="con"> 
		<div class="navs">
			<span class="bar"><b>BAR</b></span>
			<span><a class="history" href="history">历史订单</a></span>
		</div>
		<div class="main">
			<div class="main-left col-md-2">
				<nav class="nav nav-tabs">				
					<ul class="nav nav-tabs zhuo" style="clear: both;">
						<li>
							<a data-ng-click="xuanze($event)" href="#a1" data-toggle="tab"><div></div>01</a>
						</li>					
						<li>
							<a data-ng-click="xuanze($event)" href="#a2" data-toggle="tab"><div></div>02</a>
						</li>
						<li>
							<a data-ng-click="xuanze($event)" href="#a3" data-toggle="tab"><div></div>03</a>
						</li>
						<li>
							<a data-ng-click="xuanze($event)" href="#a4" data-toggle="tab"><div></div>04</a>
						</li>
						<li>
							<a data-ng-click="xuanze($event)" href="#a5" data-toggle="tab"><div></div>05</a>
						</li>
						<li>
							<a data-ng-click="xuanze($event)" href="#a6" data-toggle="tab"><div></div>06</a>
						</li>
						<li> 
							<a data-ng-click="xuanze($event)" href="#a7" data-toggle="tab"><div></div>07</a>
						</li>
						<li>
							<a data-ng-click="xuanze($event)" href="#a8" data-toggle="tab"><div></div>08</a>
						</li>
						<li>
							<a data-ng-click="xuanze($event)" href="#a9" data-toggle="tab"><div></div>09</a>
						</li>
						<li>
							<a data-ng-click="xuanze($event)" href="#a10" data-toggle="tab"><div></div>10</a>
						</li>
					</ul>				
				</nav>				
			</div>
			<div class="main-right">
				<div class="tab-content">
					<div class="tab-pane fade in active" id="a1">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PRICE</td>
							</tr>
							<tr ng-repeat="x in list">
								<td>{{x.menu_name}}</td>
								<td class="price">{{x.price}}</td>
							</tr>	
							<tr>
								<td>total:</td>
								<td colspan="3" class="total">${{total}}.00</td>
							</tr>
							<tr data-ng-click="take($event)"><td colspan="4">结账</td></tr>
						</table>
					</div>
					<div class="tab-pane" id="a2">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PRICE</td>
							</tr>
							<tr ng-repeat="x in list">
								<td>{{x.menu_name}}</td>
								<td class="price">{{x.price}}</td>
							</tr>	
							<tr>
								<td>total:</td>
								<td colspan="3" class="total">${{total}}.00</td>
							</tr>
							<tr data-ng-click="take($event)"><td colspan="4">结账</td></tr>
						</table>
					</div>
					<div class="tab-pane" id="a3">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PRICE</td>
							</tr>
							<tr ng-repeat="x in list">
								<td>{{x.menu_name}}</td>
								<td class="price">{{x.price}}</td>
							</tr>	
							<tr>
								<td>total:</td>
								<td colspan="3" class="total">${{total}}.00</td>
							</tr>
							<tr data-ng-click="take($event)"><td colspan="4">结账</td></tr>
						</table>
					</div>
					<div class="tab-pane" id="a4">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PRICE</td>
							</tr>
							<tr ng-repeat="x in list">
								<td>{{x.menu_name}}</td>
								<td class="price">{{x.price}}</td>
							</tr>	
							<tr>
								<td>total:</td>
								<td colspan="3" class="total">${{total}}.00</td>
							</tr>
							<tr data-ng-click="take($event)"><td colspan="4">结账</td></tr>
						</table>
					</div>
					<div class="tab-pane" id="a5">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PRICE</td>
							</tr>
							<tr ng-repeat="x in list">
								<td>{{x.menu_name}}</td>
								<td class="price">{{x.price}}</td>
							</tr>	
							<tr>
								<td>total:</td>
								<td colspan="3" class="total">${{total}}.00</td>
							</tr>
							<tr data-ng-click="take($event)"><td colspan="4">结账</td></tr>
						</table>
					</div>	
					<div class="tab-pane" id="a6">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PRICE</td>
							</tr>
							<tr ng-repeat="x in list">
								<td>{{x.menu_name}}</td>
								<td class="price">{{x.price}}</td>
							</tr>	
							<tr>
								<td>total:</td>
								<td colspan="3" class="total">${{total}}.00</td>
							</tr>
							<tr data-ng-click="take($event)"><td colspan="4">结账</td></tr>
						</table>
					</div>
					<div class="tab-pane" id="a7">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PRICE</td>
							</tr>
							<tr ng-repeat="x in list">
								<td>{{x.menu_name}}</td>
								<td class="price">{{x.price}}</td>
							</tr>	
							<tr>
								<td>total:</td>
								<td colspan="3" class="total">${{total}}.00</td>
							</tr>
							<tr data-ng-click="take($event)"><td colspan="4">结账</td></tr>
						</table>
					</div>
					<div class="tab-pane" id="a8">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PRICE</td>
							</tr>
							<tr ng-repeat="x in list">
								<td>{{x.menu_name}}</td>
								<td class="price">{{x.price}}</td>
							</tr>	
							<tr>
								<td>total:</td>
								<td colspan="3" class="total">${{total}}.00</td>
							</tr>
							<tr data-ng-click="take($event)"><td colspan="4">结账</td></tr>
						</table>
					</div>
					<div class="tab-pane" id="a9">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PRICE</td>
							</tr>
							<tr ng-repeat="x in list">
								<td>{{x.menu_name}}</td>
								<td class="price">{{x.price}}</td>
							</tr>	
							<tr>
								<td>total:</td>
								<td colspan="3" class="total">${{total}}.00</td>
							</tr>
							<tr data-ng-click="take($event)"><td colspan="4">结账</td></tr>
						</table>
					</div>
					<div class="tab-pane" id="a10">
						<table class="table table-hover table-condensed">
							<tr>
								<td>NAME</td>
								<td>PRICE</td>
							</tr>
							<tr ng-repeat="x in list">
								<td>{{x.menu_name}}</td>
								<td class="price">{{x.price}}</td>
							</tr>	
							<tr>
								<td>total:</td>
								<td colspan="3" class="total">${{total}}.00</td>
							</tr>
							<tr data-ng-click="take($event)"><td colspan="4">结账</td></tr>
						</table>
					</div>
				</div>			
			</div>	
		</div>
		<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://localhost:3000/js/bar-bundle.js"></script></body>
	<script type="text/javascript">
		var app = angular.module('app',[]);
		app.controller('con',['$scope','$http',function($scope,$http){
			var url = '/bar/selectCanUse';
			var data= '';
			$scope.tableIds = [];
			$scope.seatArr = [];
			$http.post(url,data).then(function(result){
				$scope.list=result.data;
				for(var i=0;i<$scope.list.list.length;i++){
					var tableId = result.data.list[i].seat_id;
					$scope.tableIds.push(tableId);
				}
				for(var i=0;i<$('.zhuo>li').length;i++){
					var seatStr = $($('.zhuo>li')[i]).text();
					var seat = $.trim(seatStr);
					$scope.seatArr.push(seat);
				}
				for(var i=0;i<$scope.seatArr.length;i++){
					for(var j=0;j<$scope.tableIds.length;j++){
						if($scope.seatArr[i]==$scope.tableIds[j]){
							var seatStr = $($('.zhuo>li')[i]).text();
							var seat = $.trim($($('.zhuo>li')[i]).text());
							if($.trim($($('.zhuo>li')[i]).text())==$scope.tableIds[j]){
								console.log($.trim($($('.zhuo>li')[i]).text()));
								console.log($scope.tableIds[j]);
								console.log($($('.zhuo>li')[i]).find('div'));
								$($($('.zhuo>li')[i]).find('div')).css('background','lightgrey');
							}
						}
					}
				}
				
			})	   
			$scope.xuanze=function($event){
		    	var url = '/bar/selectOrderBySeat';
				var zhuoIds=[];
				var data='';
				$scope.seatId='';
		       	var zhuoId = $event.currentTarget.hash;
		       	zhuoIds=[];
		        zhuoIds.push(zhuoId);
		        $scope.seatId = $event.currentTarget.text;
		        data = {seatId:$scope.seatId};
			    $http.post(url,data).then(function(result){
					$scope.list = result.data.list;
					console.log('4444444444444$$$$$$$$$$$');
					console.log(result.data.list);
					if(result.data.list.length==0){
						alert('当前桌无人用餐');
						$scope.total=0;
					}else{
						$scope.total = result.data.list[0].total;
					}
				})
			    $scope.take=function($event){
			    	alert('确认客人以支付');
			    	var url = '/bar/updateSeatState';
			    	data = {seatId:$scope.seatId};
			    	$http.post(url,data).then(function(result){
			    	})
			    	location.reload();
			    }
	        }
		}])
	</script>
</html>
