<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link href="http://localhost:3000/css/history.css" rel="stylesheet"></head>
	<body ng-app="app" ng-controller="con"> 
		<div class="navs">
			<span class="bar"><b>HISTORY</b></span>
		</div>
		<div class="content">
			<table class="table table-hover ">
				<tr>
					<td>NAME</td>
					<td>PRICE</td>
				</tr>
				<tr ng-repeat="x in list">
					<td>{{x.menu_name}}</td>
					<td class="price">{{x.price}}</td>
				</tr>	
				<tr>
					<td>total:</td>
					<td colspan="3" class="total">${{total}}.00</td>
				</tr>
			</table>
		</div>
		<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://localhost:3000/js/history-bundle.js"></script></body>
	<script type="text/javascript">
		var app = angular.module('app',[]);
		app.controller('con',['$scope','$http',function($scope,$http){
			var url = '/history/selectHistory';
			var data= {};
			$scope.total = 0;
			$http.post(url,data).then(function(result){
				$scope.list=result.data.list;
				$scope.long = $scope.list.length;
				console.log($scope.long);
				for(var i=0;i<$scope.long;i++){
					var price = parseInt(result.data.list[i].total);
					$scope.total+=price;
					console.log($scope.total);
				}
			})	   
		}])
	</script>
</html>