<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="http://localhost:3000/css/index1.css" rel="stylesheet"></head>
	<body ng-app="app" ng-controller="cro">
		<!--banner-->
		<div class="banner">
			<div class="banner-info">
				<div class="container">
					<div class="logo">
						<div class="ribbon">
							<div class="ribbon-fold"><h1> <a href="index.html">N</a>&sup2;</h1></div>
						</div>
						<h2>Better Ingredients better Pizza</h2>
					</div>			
					<!--navigation-->
					<div class="top-nav">
						<nav class="navbar navbar-default">
							<!--<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-center cl-effect-14">
									<li><a href="index.html" class="active">主菜</a></li>
									<li><a href="about.html">牛扒</a></li>
									<li><a href="gallery.html">披萨</a></li>	
									<li><a href="contact.html">联系我们</a></li>
								</ul>	
								<div class="clearfix"> </div>
							</div>	-->
						</nav>		
					</div>	
					<!--navigation-->
				</div>
			</div>
		</div>
		<!--banner结束-->
		<!--banner-bottom-->
		<div class="banner-bottom">
			<div class="container">
				<div class="banner-text">
					<h3>Menu</h3>
					<p>Special Offer to day</p>
					<a href="menu" class="btn btn-1 btn-1b">More+</a>
				</div>
				<!--welcome-->
				<div class="welcome">
					<h3 class="title">Welcome</h3>
					<p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod </p>
					<div class="welcome-info">
						<div class="col-md-6 welcome-grids">
							<div class="welcome-img">
								<img src="/img/带骨眼排.jpg" class="img-responsive zoom-img" alt=""/>
							</div>
						</div>
						<div class="col-md-6 welcome-grids">
							<div class="welcome-img">
								<img src="/img/红酒牛排.jpg" class="img-responsive zoom-img" alt=""/>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae </p>			
				</div>
				<!--//welcome-->
			</div>
		</div>
		<!--banner-bottom结束-->
		<!--services-->
		<div class="services">
			<div class="container">
				<h1>SORT</h1>
				<div class="servc-grids">
					<div class="col-md-3 servc-grid">						
						<div class="servc-icon hi-icon-effect-8" ng-click="xuanZe($event)">
							<a href="#collapseOne" data-toggle="collapse" class="hi-icon hi-icon-archive">
								<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
							</a>
						</div>
						<h2>热销</h2>
					</div>					
					<div class="col-md-3 servc-grid">
						<div class="servc-icon hi-icon-effect-8"  ng-click="xuanZe($event)">
							<a href="#collapseTwo" data-toggle="collapse" data-parent="#accordion" class="hi-icon hi-icon-archive">
								<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
							</a>
						</div>
						<h2>优惠</h2>
					</div>
					<div class="col-md-3 servc-grid">
						<div class="servc-icon hi-icon-effect-8"  ng-click="xuanZe($event)">
							<a href="#collapseThree" data-toggle="collapse" data-parent="#accordion" class="hi-icon hi-icon-archive">
								<span class="glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span>
							</a>
						</div>
						<h2>情侣</h2>
					</div>
					<div class="col-md-3 servc-grid">
						<div class="servc-icon hi-icon-effect-8"  ng-click="xuanZe($event)">
							<a href="#collapseFour" data-toggle="collapse" data-parent="#accordion" class="hi-icon hi-icon-archive">
								<span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
							</a>
						</div>
						<h2>新品</h2>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="sort-content">
					<div class="panel-collapse collapse" id="collapseOne">
						<div class="panel-body">
							<table class="table table-hover table-condensed">
								<tr>
									<td>NAME</td>
									<td>PICTURE</td>
									<td>MONEY</td>
								</tr>
								<tr ng-repeat="x in list">
									<td>{{x.menu_name}}</td>
									<td><img ng-src="{{x.img}}"/></td>
									<td>${{x.price}}</td>
								</tr>									
							</table>
						</div>					
					</div>
					<div class="panel-collapse collapse" id="collapseTwo">
						<div class="panel-body">
							<table class="table table-hover table-condensed">
								<tr>
									<td>NAME</td>
									<td>PICTURE</td>
									<td>MONEY</td>
								</tr>
								<tr ng-repeat="x in list">
									<td>{{x.menu_name}}</td>
									<td><img ng-src="{{x.img}}"/></td>
									<td>${{x.price}}</td>
								</tr>								
							</table>
						</div>					
					</div>
					<div class="panel-collapse collapse" id="collapseThree">
						<div class="panel-body">
							<table class="table table-hover table-condensed">
								<tr>
									<td>NAME</td>
									<td>PICTURE</td>
									<td>MONEY</td>									
								</tr>
								<tr ng-repeat="x in list">
									<td>{{x.menu_name}}</td>
									<td><img src="{{x.img}}"/></td>
									<td>${{x.price}}</td>
								</tr>							
							</table>
						</div>					
					</div>
					<div class="panel-collapse collapse" id="collapseFour">
						<div class="panel-body">
							<table class="table table-hover table-condensed">
								<tr>
									<td>NAME</td>
									<td>PICTURE</td>
									<td>MONEY</td>
								</tr>
								<tr ng-repeat="x in list">
									<td>{{x.menu_name}}</td>
									<td><img src="{{x.img}}"/></td>
									<td>${{x.price}}</td>
								</tr>							
							</table>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<!--services结束-->
		<!-- testimonial -->
		<div class="testimonial">
			<!-- container -->
			<div class="container">
				<h3 class="title">评论</h3>
				<div  id="top" class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="testimonial-grids">
								<div class="testimonial-left">
									<img src="/img/t1.jpg" alt="" />
								</div>
								<div class="testimonial-right">
									<h5>张丹</h5>
									<p><span>"</span> 好吃!好吃!好吃!<span>"</span>
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
						<li>
							<div class="testimonial-grids">
								<div class="testimonial-left">
									<img src="/img/t3.jpg" alt="" />
								</div>
								<div class="testimonial-right">
									<h5>李雪</h5>
									<p><span>"</span> 好吃!好吃!好吃! <span>"</span>
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
						<li>
							<div class="testimonial-grids">
								<div class="testimonial-left">
									<img src="/img/t1.jpg" alt="" />
								</div>
								<div class="testimonial-right">
									<h5>窦亚楠</h5>
									<p><span>"</span>  好吃!好吃!好吃!<span>"</span>
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //testimonial -->
		<!--footer-->
		<div class="footer">
			<div class="container">
				<div class="col-md-3 footer-left">
					<h4>Address</h4>
					<ul>
						<li>New York Restaurant</li>
						<li>3926 Anmoore Road</li>
						<li>New York, NY 10014</li>
						<li>718-749-1714</li>
					</ul>				
				</div>
				<div class="col-md-3 footer-left">
					<h4>Popular</h4>
					<ul>
						<li><a href="#">Proin placerat</a></li>
						<li><a href="#">Ipsum et rutrum</a></li>
						<li><a href="#">Proin semper utr</a></li>
						<li><a href="#">ligula sit amet</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-left">
			 		<h4>Details</h4>
					<ul>
						<li><a href="about.html">About</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-right">
					<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
					<div class="icons">
					<ul>
						<li><a href="#" class="twitter"> </a></li>
						<li><a href="#" class="twitter facebook"> </a></li>
						<li><a href="#" class="twitter chrome"> </a></li>
						<li><a href="#" class="twitter pinterest"> </a></li>
						<li><a href="#" class="twitter linkedin"> </a></li>
					</ul>
				</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!--//footer-->
	<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://localhost:3000/js/index1-bundle.js"></script></body>
	<script type="text/javascript">
		var app = angular.module('app',[]);
		app.controller('cro',['$scope','$http',function($scope,$http){
			$scope.xuanZe=function($event){	
				var sortName = $($($event.currentTarget).next())[0].innerText;
				var url = '/index1/selectSort';
				console.log(sortName);
				var data = {sortName:sortName};
				$http.post(url,data).then(function(result){
					console.log(result.data.sort);
					$scope.list = result.data.sort;
				})
			}
			
		}])
	</script>
</html>
